    body {
        background-image: url("../imagens/backgroud.jpg");
        padding: 0;
        margin: 0;
        color: #fff;
        text-align: center;
    }
    
    header {
        position: flex;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: 0px auto;
    }
    
    #logo {
        position: absolute;
        width: 120px;
        height: 60px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("../imagens/logo.jpg");
    }
    
    #superior {
        position: flex;
        font-size: 32px;
        top: 0px;
        right: 0px;
        bottom: 60px;
        left: 100%;
        background-color: #000;
        text-align: center;
        line-height: 40px;
        padding: 10px;
    }
    
    #containerRepos {
        margin: 0 auto;
        width: 80%;
    }
    
    #repositorio {
        display: flex;
        font-size: 14px;
        flex-wrap: wrap;
        text-align: center;
        color: #fff;
    }
    
    li {
        border-radius: 2em #2d2b2b;
        background-color: #000000b8;
        margin: 20px;
        width: 28%;
    }
    
    footer {
        color: #000;
        background-color: #f1f1f1d9;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        font-family: 'ABeeZee', sans-serif;
        font-weight: bold;
        position: absolute;
        top: auto;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }
    
    #buttonPesquisar {
        border: #fff 2px;
        background-color: #fff;
        color: #000;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 5px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        font-family: 'ABeeZee', sans-serif;
    }
    
    #foto {
        top: 50%;
        left: 50%;
    }
    
    h4 {
        text-align: justify;
    }
    
    .inputform {
        margin-top: 0px;
        text-align: right;
        color: #fff;
        margin: 0px;
    }
    
    input[type="text" i] {
        width: 300px;
    }
    
    div.container {
        height: 100%;
        background-color: #2d2b2b7a;
    }
    
    label {
        font-size: 24px;
    }
    
    div.titulo {
        font-size: 20px;
        text-align: center;
        padding: 3vw;
        position: relative;
        padding-bottom: 0px;
    }
    
    div.op1 {
        padding-bottom: 0px;
        padding-top: 0px;
        width: 38%;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        min-width: 40vw;
    }
    
    div.op2 {
        padding-bottom: 0px;
        padding-top: 0px;
        width: 38%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 12px;
        text-align: center;
        min-width: 40vw;
        float: right;
    }
    
    h1 {
        margin-bottom: 0px;
        margin-top: 0px;
    }